<script type="text/javascript" src="{{ "/assets/js/jquery.min.js" }}"></script>
<script type="text/javascript" src="{{ "/assets/js/materialize.min.js" }}"></script>
<script type="text/javascript">
  $('.button-collapse').sideNav();
  $('nav a:not(".brand-logo"), .tabs a').addClass('waves-effect waves-light');
  $('.tabs a[href^="#"]').click(function onTabClick() {
    history.replaceState(undefined, undefined, $(this).attr('href'));
  });
  $('article .container a[href^="#"]').click(function onContentTabChange() {
    var $anchor = $(this);
    $('html, body').animate({scrollTop: 0}, 400, function onScrollComplete() {
      $('.tabs').tabs('select_tab', $anchor.attr('href').replace(/\#/, ''));
    });
  });
</script>
